/* Style global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

#description {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Conteneur pour la carte */
#chart-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Légende */
#legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.legend-item {
    width: 30px;
    height: 20px;
    margin: 5px;
}

/* Info-bulle */
#tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.hidden {
    display: none;
}
